/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header-content {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.section {
    background-color: #fff;
    padding: 50px 0;
}

.login-form {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
}

.login-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}
.login-form h2:before {
    background: #0b0b0b !important;
}


.login-form p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

